@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");


:root {
    --bg: #191970 ;
    --text: white;

  }
  
  .title h1 {
    text-align: center;
    font-size: 7rem;
    color: white;
    font-family: 'Orbitron', serif;
    margin-top: 20px;
  }

  .title h2 {
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Orbitron', serif;
    margin-top: 20px;
  }


  
  .poem {
    width: 375px;
    margin: auto;
    /*padding: 10px 0;*/
    font-family: Baskerville;
    font-size: 14px;
    text-align: left;
  }
  
  /* Add spacing to each stanza. */
  
  p {
    margin-bottom: 15px;
    line-height: 1.45em;
  }
  
  /* Set type preferences for poem's headings.  */
  
  .poem h1,
  .poem h2 {
    font-family: Baskerville;
    font-weight: normal;
    text-align: center;
  }
  
  /* Set display preferences for title of the poem. */
  
  .poem h1 {
    font-size: 34px;
    margin-bottom: 10px;
    color:white;
  }
  
  /* Set display preferences for name of the poet. */
  
  .poem h2 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
  }
  
  /* Make the first letter a drop cap/initial. */
  
  .poem h2+p:first-letter {
    float: left;
    font-size: 40px;
    margin: 12px 5px 0px 0px;
  }
  
  /* Set display preferences for first line of each stanza. */
  .poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
  }
  
  /* Add margin and padding at end of the poem. */
  
  .poem p:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  body {
    height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    
    background-color: var(--bg);
    font-family: "Recoleta";
    
    margin: 0 10em;
  }

  
  h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
  }
  
  h2 {
    font-size: 32px;
  }
  
  p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;

  }
  p > span {
    font-weight: 400;
    font-style: italic;
    display: block;
    padding: 1em 3em;
    font-size: 1.2rem;
  }

  p > span.green{
    color:#4B0082;
  }

  .warna{
    color:#4B0082
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  body::before,
  body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
  
    opacity: 0%;
  }
  
  body::before {
    background: var(--bg);
    filter: url(#noiseFilter);
  }
  
  
  .for-to p {
    text-align: end;
  }

  .for-to h3 {
    font-size: 1.5rem;
    text-align: end;
  }

  .page {
    width: 100%;
    max-width: 800px;
    padding: 1em;
    font-size: 18px;
    grid-template-columns: 30% 1fr 30%;
    grid-auto-rows: min-content;
    gap: 1.5em;
    position: relative;
    z-index: 1;
    font-family:'Times New Roman', Times, serif, serif;
    
  }
  .page h1 {
    font-size: 3rem;
    margin: 1em 0 0.1em;
    grid-column: 2/4;
    justify-self: end;
    color: white;
  }
  .page h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: start;
    
    color: #CC5500;
  }
  .page h3 {
    font-weight: normal;
    margin: 2em 0 3em;
    font-size: 1rem;
    grid-column: 2/4;
    justify-self: end;
  }

  blockquote {
    font-size: 1.2rem;
    color: white;
  }
  .page p {
    color:#CC5500;
  }
  
  
  
  @media screen and (max-width: 640px) {
    .page {
      grid-template-columns: 1fr;
    }
    .page h1 {
      font-size: 2rem;
    }
    .page h2 {
      font-size: 1.2rem;
    }
    .page p {
      grid-column: 1/4 !important;
    }
  }
  
  

  